* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(87, 255, 199);
  display: flex;
  flex-direction: column;
}

#search-view {
  min-width: 100%;
  min-height: 100%;
  background-color: #ffcb05;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

h1 {
  font-size: 4rem;
}

.h1_firstword {
  color: #ffcb05
}

.h1_secondword {
  color: #2a75bb
}

header > p {
  font-size: 2rem;
}

.btn_menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_menu > button {
  font-size: 2rem;
  background-color: #2a75bb;
  color: #ffcb05;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 100ms;
}

.btn_menu > button:hover {
  transform: translateY(0.1rem);
  border-radius: 0.3rem;
  background-color: #3085d5;
}

main {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid red;
}

.team_container {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team_container > h2 {
  padding: 1rem 0rem;
}

.team_container > ol {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.team_container > ol > li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.poke-img {
  border: 1px solid black;
  height: 5rem;
}

.reserve_container {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserve_container > h3 {
  padding: 1rem 0rem;
}

.reserve_container > ul {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.reserve_container > ul > li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
 
}


/* --------------------------------------------------- */
/* Här nedan ligger style kod för alla element som har skapats i javascript */

.search_overlay {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.search_popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffcb05;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.search_input_container {
  margin-top: 10rem;
}

.search_input_container > * {
  margin: 1rem;
}

.search_input {
  padding: 0.5rem;
  border-radius: 1rem;
}

.search_button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #2a75bb;
}

.search_button:hover {
  cursor: pointer;
  background-color: #3085d5;
  border-radius: 0.3;
  transform: translateY(0.1rem);
}

.search_output_container {
  border: 1px dotted red;
  width: 100%;
}

.search_output_container > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}


.image-box {
  display: flex;
  justify-content: center;
}

.image-box > img{
  width: 40%;
}

.name-box {
  font-size: 3rem;
}

.ability-box {
  font-size: 2rem;
}

.choose_button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #2a75bb;
}

.choose_button:hover {
  background-color: #3085d5;
  cursor: pointer;
  transform: translateY(0.1rem);
}

.choose_btn_box > button {
  margin: 0 1rem;
}